{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>{{ article.tittle }}</title>
    <link rel="stylesheet" href="{% static 'css/style-article.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
  <div class="container">
      <div class="head">
          <h3 class="tittle-article">{{ article.tittle }}</h3>
          <p class="author-artice">Author: {{ article.author }}</p>
          <p class="date-article">{{ article.create }}</p>
      </div>
      <div>
          <img src="{{ article.image.url }}" class="picture-article">
      </div>
      <div>
          {{ article.description|safe }}
      </div>
  </div>
{% endblock content %}