{% if articles.count != 0 %}
    <div class="card-deck">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'articles:article' article.id %}" class="font-tittle">{{ article.tittle }}</a></h5>
                        <i class="fas fa-user"><small style="margin-left: 5px; font-family: Rubik,sans-serif">{{ article.author.get_full_name }}</small></i><br>
                        <i class="fas fa-calendar-day"><small style="margin-left: 5px; font-family: Rubik,sans-serif">{{ article.create }}</small></i>
                    </div>
                    {% if user.is_authenticated and type == 'manage'%}
                        <button class="edit-article btn btn-primary" type="submit" data-url="{% url 'articles:edit-article' article.id %}">edit</button>
                        <button class="delete-article btn btn-danger" type="submit" data-url="{% url 'articles:delete-article' article.id %}">delete</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div style="text-align: center">
        <h4>You haven't added any articles yet</h4>
    </div>
{% endif %}
{% if user.is_authenticated%}
    <div style="text-align: center; margin: 10%">
        <a href="{% url 'articles:create-article' %}"><i class="fas fa-plus-circle" id="add"></i></a>
    </div>
{% elif user.is_authenticated and articles.count == 0%}
    <div style="text-align: center">
        <h4>You haven't added any articles yet</h4>
        <h4>Click icon + to add article</h4>
    </div>
{% endif %}