{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Create Article</title>
    <link rel="stylesheet" href="{% static 'css/style-article.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
    {% load cloudinary %}
    <div class="container">
        <h1 class="tittle">Create article</h1>
        <form method="POST" class="form-group" enctype="multipart/form-data" id="create-submission">
            {% csrf_token %}
            {{ backend_form.media }}
            <div class="form-group row">
                <label for="{{ backend_form.tittle.id_for_label }}" class="col-sm-2 col-form-label font">Tittle:</label>
                    <div class="col-sm-10">
                        {{ backend_form.tittle }}
                    </div>
            </div>
            <div class="form-group row" style="display: none">
                <label for="{{ backend_form.author.id_for_label }}" class="col-sm-2 col-form-label font">Author:</label>
                    <div class="col-sm-10">
                        {{ backend_form.author }}
                    </div>
            </div>
            <div class="form-group row">
                <label for="{{ backend_form.description.id_for_label }}" class="col-sm-2 col-form-label font">Description:</label>
                    <div class="col-sm-10">
                        {{ backend_form.description }}
                    </div>

            </div>
            <div class="form-group row">
                <label for="{{ backend_form.image.id_for_label }}" class="col-sm-2 col-form-label font">Image:</label>
                    <div class="col-sm-10">
                        {{ backend_form.image }}
                    </div>
            </div>
            <div style="text-align: center">
                <button class= "btn btn-primary" type="submit" style="background-image: linear-gradient(#EC4057, #F57434); border-color: #EC4057">Submit</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/create-article.js' %}"></script>
{% endblock content %}