{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Health Articles</title>
    <link rel="stylesheet" href="{% static 'css/style-article.css' %}" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock meta %}

{% block content %}
  <div class="container">
        <h1 class="tittle">Health Articles</h1>
        <div class="wrapper" style="margin-bottom: 20px">
            <div class="search-input">
                <input type="text" id="keyword" placeholder="Insert your article tittle">
                <div class="autocom-box">
                </div>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
        {% include 'Article_Features/card_articles.html' %}
    </div>
    <script src="{% static 'js/list-articles.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock content %}