{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Health Articles</title>
    <link rel="stylesheet" href="{% static 'css/style-article.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
    <div class="container">
        <h1 class="tittle">Health Articles</h1>
        <div class="wrapper" style="margin-bottom: 20px">
            <div class="search-input">
                <input type="text" id="keyword" placeholder="Insert your article tittle">
                <div class="autocom-box">
                </div>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <div class="con">
            {% include 'Article_Features/card_articles.html' %}
        </div>
    </div>
     <div class="modal fade bd-example-modal-lg" id="modal-book">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script src="{% static 'js/manage-article.js' %}"></script>
{% endblock content %}