<div class="modal-header">
    <h5 class="modal-title">Edit Article</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" class="edit-article" action="{% url 'articles:edit-article' backend_form.instance.id%}">
    {% include 'Article_Features/modal-create-article.html' %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
    </div>
</form>