<div class="modal-body">
        {% csrf_token %}
        {{ backend_form.media }}
        <div class="form-group">
            <label for="{{ backend_form.tittle.id_for_label }}" class="col-form-label">Tittle:</label>
            {{ backend_form.tittle }}
        </div>
        <div class="form-group" style="display: none">
            <label for="{{ backend_form.author.id_for_label }}" class="col-form-label">Author:</label>
            {{ backend_form.author }}
        </div>
        <div class="form-group">
            <label for="{{ backend_form.description.id_for_label }}" class="col-form-label">Description:</label>
            {{ backend_form.description }}
        </div>
        <div class="form-group">
            <label for="{{ backend_form.image.id_for_label }}" class="col-form-label">Image:</label>
            {{ backend_form.image }}
        </div>
</div>
