{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="container">
    <div class="row justify-content-center">
        <h2><strong>BMI CALCULATOR</strong></h2>
    </div>
    <div class="row justify-content-center text-center" >
        <div class="col mt-5 mb-5">
            <div class="card" style="width: 500px; color: white; background-color: black; border-radius: 14px;" id="calform">
                <div class="card-body p-5">
                    <form action="" method="POST" class="form-group m-0">
                        {% csrf_token %}
                        <h5 style="text-align: left;"><strong>Insert your input below</strong></h5>
                        <p style="text-align: left;" class="card-text">Height (Centimeters)</p>
                        {{ form.height }}
                        <p style="text-align: left;" class="card-text">Weight (Kilograms)</p>
                        {{ form.weight }} <br>
                        <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-primary mt-3" id="submitbtn" onclick="myFunction()">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col text-center justify-content-center mt-5 mb-5">
            <div class="card" style="width: 500px; color: white; background-color: black; border-radius: 14px;" id="res">
                <div class="card-body p-5" id="resbody">
                    {% if user.is_authenticated %}
                    <h5><Strong>Hello {{ request.user }}! Here is your result</Strong></h5>
                    {% else %}
                    <h5><Strong>Here is your result</Strong></h5>
                    {% endif %}

                    <h2 class="p-3"><strong>{{ result }}</strong></h2>
                    <table style="text-align: left; font-size: 20px;">
                        <tr style="height: 30px;">
                            <td style="width: 200px; text-align: right; padding-right: 20px">< 18.5</td>
                            <td style="width: 200px;">Underweight</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">18.5 - 24.9</td>
                            <td style="width: 200px;">Normal</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">25.0 - 29.0</td>
                            <td style="width: 200px;">Overweight</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">> 29.0</td>
                            <td style="width: 200px;">Obese</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div style="background-color: #1E1E1E; color: white; width: 100vw;">
    <div class="row justify-content-center" id="calarticle">
        <h2 style="padding-top: 40px;">Related Articles</h2><br>       
    </div>
    <div class="row justify-content-center">
        <img src="{% static 'BMIHome/bmi.jpg' %}" alt="" style="width: 25%;">
    </div>
    <div class="row justify-content-center text-center pt-3">
        <p>One of the most common topics patients address <br> with their doctors is their weight. Some patients weigh too little, <br> but others feel they weigh too much. Genetic, socioeconomic <br> and physiological  factors all contribute to a person’s weight.</p>
    </div>
    <div class="row justify-content-center text-center">
        <a href="">
            <button href="{% url 'articles:article' article.id %}" style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-danger mb-3">Read More</button>
        </a>
    </div>
</div>
{% else %}
<div class ="row justify-content-center pt-3" style="background-color: #1E1E1E; color: white; width: 100vw;">
    <h3>Want to see articles we recommend for you?</h3><br>
</div>
<div class="row justify-content-center" style="background-color: #1E1E1E; color: white; width: 100vw;">
    <div class="col justify-content-center text-right">
        <a href="{% url 'user:login' %}">
            <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-danger mb-3">LOG IN</button>
        </a>
    </div>
    <div class="col justify-content-center text-left">
        <a href="{% url 'user:signup' %}">
            <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-danger mb-3">SIGN UP</button>
        </a>
    </div>
</div>
<script src="{% static 'js/bmi.js' %}"></script>
{% endif %}
<script src="{% static 'js/bmi.js' %}"></script>
{% endblock content %}