.bmr_img{
    background-image: url(/static/img/bmrjumbotron.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.jumbotron{
    color: #ffffff;
    border-radius: 0;
}
.btn{
    background-image: linear-gradient(#EC4057, #F57434);
    border-color: #ee4455;
}
.calculate{
    background-image: linear-gradient(#EC4057, #F57434);
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 8%;
    margin-left: 42%;
}
.card{
    max-width: 35rem; margin: 0 auto; background-color: #1E1E1E; color:#ffffff;
    float: none; border-radius: 14px;
    margin-bottom: 10px; padding-top: 2%;
}
.lead{
    font-weight: 600;
    /* padding-top: 5%; */
}
.display-4{
    font-weight: 600;
}
.card-header{
    font-weight: 600;
    padding-left: 8%;
}
