.card{
    max-width: 35rem; margin: 0 auto; background-color: #1E1E1E; color:#ffffff;
    float: none; border-radius: 14px;
    margin-bottom: 10px; padding-top: 2%;
}
.calculate{
    background-image: linear-gradient(#EC4057, #F57434);
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 8%;
    margin-left: 42%;
}
.title{
    text-align: center; padding-top: 5%; padding-bottom: 3%;
    font-weight: 600;
}
.card-header{
    font-weight: 600;
    padding-left: 8%;
}