/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #1e1e1e;
    color: white;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    margin: 0;
}

dl, ol, ul {
    margin: 0;
}

nav .menu {
    float: right;
    margin-right: 100px;
}

nav .menu .menu-item {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}


nav .menu .menu-item a {
    color: white;
    text-transform: uppercase;
}
nav .menu .menu-item .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    width: 15rem;
    padding-left: 25px;
}

 nav .menu .menu-item:hover .dropdown {
    display: block;
    background: #1e1e1e;
}

nav .menu .menu-item a:hover {
    color: #F57434;
}

.sub-menu-item {
    line-height: 40px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

footer.footer {
    position: relative;
    bottom: 10%;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.icon-size{
    text-align: right;
    font-size: 38px;
}

.font-copyright {
    padding-top: 2%;
}

.jumbotron {
    border-radius: 0;
}

@media screen and (max-width: 1200px){
    .checkbtn {
        display: block;
    }
    .menu {
        width: 250px;
        position: fixed;
        top: 80px;
        background: #1e1e1e;
        text-align: center;
        right: -100%;
        transition: all .8s;
        z-index: 1;
    }

    .menu .sub-menu-item {
        text-align: left;
    }

    nav .menu .menu-item {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    #check:checked ~ ul {
        right: -100px;
    }

    #submit {
        text-align: center;
    }
}


@media (max-width: 576px) {
    .icon-size {
        text-align: center;
    }

    .font-copyright {
        text-align: center;
    }

}

