.tittle {
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

.head {
    margin: 30px 0 0 0;
}
.head, .picture-article, .content {
    margin-bottom: 20px;
}

.head .tittle-article {
    font-weight: bold;
    margin-bottom: 2px;
}

.head .author-artice {
    margin-bottom: 2px;
    font-size: 15px;
}

.head .date-article{
    margin-bottom: 2px;
    font-size: 15px;
}

#btn-primary {
    background-color: #EC4057;
    border-color: #EC4057;
}

.picture-article {
    display: block;
    width: 60%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

#add{
    font-size: 50px;
    color: #ee4455;
}

.font-tittle {
    color: #111111;
}

.font-tittle:hover {
    color: #ee4455;
}

.wrapper{
    max-width: 450px;
    margin: 0 auto;
}

.wrapper .search-input {
    position: relative;
    background: #ffff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    padding: 0 60px 0 20px;
    font-size: 18px;
    outline: none;
}

.search-input .autocom-box {
    max-height: 280px;
    overflow-y: auto;
}

.autocom-box li{
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.autocom-box li:hover{
    background: #efefef;
}

.search-input.active .autocom-box li{
    display: block;
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #EC4057
}

@media (min-width: 576px) {
    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .font {
        text-align: right;
    }
}