.card-width {
    width: 100%;
}

@media (min-width: 768px) {
    .container-form {
        max-width: 720px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .card-width {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .card-width {
        width: 50%;
    }
}