{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Log In</title>
     <link href="{% static 'css/style-user-signup.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="card card-width" style=" color: white; background-color: black; border-radius: 14px; margin: 40px 0px 40px 0px">
                <div class="card-body p-5">
                    <h3 style="text-align: center; padding-bottom: 6%; font-weight: bold;">LOG IN</h3>
                    <form method="post" class="form-group" id='login-submission' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username:</label>
                            <div class="col-8">
                                <input type="text" name="username" class="form-control" id="username" style="width: 85%;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Password:</label>
                            <div class="col-8">
                                <input type="password" name="password" class="form-control" id="password" style="width: 85%;">
                            </div>
                        </div>
                        <div style="text-align: center">
                        <button class= "btn" type="submit" style="margin-top: 20px; background-image: linear-gradient(#EC4057, #F57434); width: 20%; color: #ffff">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
{% endblock content %}
