{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Log Out</title>
{% endblock meta %}

{% block content %}
  <div class="container-form">
    <div class="row justify-content-center text-center card" style="width: 45%; color: white; background-color: black; border-radius: 14px; margin: 40px 0px 40px 0px">
        <div class="card-body p-5">
            <p style="text-align: center">Apakah anda ingin logout</p>
            <form method="post">
                {% csrf_token %}
                <div style="text-align: center">
                    <button class= "btn btn-primary" name='boolean' type="submit" value="true" style="margin-top: 20px">Ya</button>
                    <button class= "btn btn-primary" name='boolean' type="submit" value="false" style="margin-top: 20px">Tidak</button>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock content %}