{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Sign Up</title>
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="width: 100%; color: white; background-color: black; border-radius: 14px; margin: 40px 0px 40px 0px">
                <div class="card-body p-5">
                    <h3 class="test text-center" style="text-align: center; padding-bottom: 6%; font-weight: bold;">SIGN UP</h3>
                    <form method="post" id='signup-submission' class="form-group text-right" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username:</label>
                            <div class="col-8 input">
                                <input type="text" name="username" class="form-control" id="username" style="width: 85%;">
                                <div class="messageusername text-left"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="firstname" class="col-4 col-form-label">Firstname:</label>
                            <div class="col-8 input">
                                <input type="text" name="first_name" class="form-control" id="firstname" style="width: 85%;">
                                <div class="messagefirstname text-left"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Lastname:</label>
                            <div class="col-8 input">
                                <input type="text" name="last_name" class="form-control" id="lastname" style="width: 85%;">
                                <div class="messagelastname text-left"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">e-Mail:</label>
                            <div class="col-8">
                                <input type="email" name="email" class="form-control" id="emailUser" style="width: 85%;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password1" class="col-4 col-form-label">Password:</label>
                            <div class="col-8">
                                <input type="password" name="password1" class="form-control" id="password1" style="width: 85%;">
                                <div class="messagepasssword1 text-left"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password2" class="col-4 col-form-label">Confirm Password:</label>
                            <div class="col-8">
                                <input type="password" name="password2" class="form-control" id="password2" style="width: 85%;">
                                <div class="messagepasssword2 text-left"></div>
                            </div>
                        </div>
                        <div style="text-align: center">
                        <button class= "btn" type="submit" style="margin-top: 20px; background-image: linear-gradient(#EC4057, #F57434); width: 30%; color: #ffff">Sign Up</button>
                    </div>
                    </form>
                </div>
                {{ form.error }}
            </div>
        </div>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock content %}
