{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BMR Calculator</title>
<link href="{% static 'css/bmrcalculator.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

    {% block content %}
        <div class="jumbotron bmr_img">
            <p class="lead ">Get to know your metabolism</p>
            <h1 class="display-4">BMR CALCULATOR</h1>
            <p>Basal Metabolic Rate (BMR) is the number of calories required <br> to keep your body functioning at rest.  It represents the <br> minimum amount of energy needed to keep your body <br> functioning, including breathing and keeping your heart <br>beating.</p>
            <a class="btn btn-primary btn-lg" href="#bmr-cal" role="button">Get Started</a>
        </div>
        <div style="padding-top: 4%; padding-bottom: 2%;" id="bmr-cal">
            <h2 style="text-align: center;"><b>BMR Calculator</b></h2>
        </div>
        <div class="card border-dark mb-3" id="card-click">
            <div class="card-header" id="header">
                <p>Calculate your BMR here</p>
                <p>Insert your input below</p>
            </div>
            <form id="Calculate" method="POST" action="/bmrcalculator/post/">
                {% csrf_token %}
                <div class="form-group" style="padding-left: 8%; padding-right: 8%;">
                    {{ form_bmrcal.as_p }}
                </div>
                <br>
                <button type="submit"  class="calculate btn btn" id="bton">Calculate</button>
            </form>
                <button type="button" class="calculate btn test" id="bton1" style="margin-right: 41%;">Test</button>
        </div>

        <script src="{% static 'js/bmrcalculator.js' %}"></script>
    {% endblock content %}
