{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BMR Result</title>
<link href="{% static 'css/bmrresult.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

    {% block content %}
        <div id="bmr-cal">
        <h2 class="title">BMR Calculator</h2>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card border-dark mb-3">
                        <div class="card-header" id="header">
                            <h4><b>Calculate your BMR here</b></h4>
                            <p>Insert your input below</p>
                        </div>
                        <form id="Calculate" method="POST" action="/bmrcalculator/post/">
                            {% csrf_token %}
                            <div class="form-group" style="padding-left: 8%; padding-right: 8%;">
                                {{ form_bmrcal.as_p }}
                            </div>
                            <br>
                            <button type="submit" class="calculate btn btn" id="bton">Calculate</button>
                        </form>
                            <button type="button" class="calculate btn test" id="bton1" style="margin-right: 41%;">Test</button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card border-dark mb-3">
                        {% if user.is_authenticated %}
                        <div class="card-header justify-content-center text-center">
                            <h4 id="user-header"><b>Hello {{request.user}}! Here's your BMR result.</b></h4>
                        </div>

                        {% else %}
                        <div class="card-header">
                            <p id="not-user-header"><b>Here's your BMR result</b></p>
                        </div>
                        {% endif %}
                        <div id="result"> 
                            <h2 style="text-align: center;"><b>
                                {{result}} Calories/day
                            </h2></b>
                            <p style="text-align: center; margin: 20px auto; font-size: 20px">
                                Your BMR result represents the number of calories <br>you'd burn if you stayed in bed all day.
                            </p>
                        </div>
                        
                        {% if user.is_authenticated %}
                        <div class="card-body" id="result-2">
                            <table style="text-align: left; font-size: 16px; margin: 0 auto">
                                <tr>
                                    <td style="width: 400px; text-align: left; padding-right: 15%; padding-left: 15%"> Sedentary: little or no exercise</td>
                                    <td style="width: 200px;">1,926</td>
                                </tr>
                                <tr>
                                    <td style="width: 400px; text-align: left; padding-right: 15%; padding-left: 15%">Exercise 1-3 times/week</td>
                                    <td style="width: 200px;">2,207</td>
                                </tr>
                                <tr>
                                    <td style="width: 400px; text-align: left; padding-right: 15%; padding-left: 15%">Exercise 4-5 times/week</td>
                                    <td style="width: 200px;">2,351</td>
                                </tr>
                                <tr>
                                    <td style="width: 600px; text-align: left; padding-right: 15%; padding-left: 15%">Intense exercise 3-4 times/week</td>
                                    <td style="width: 200px;">2,488</td>
                                </tr>
                                <tr>
                                    <td style="width: 400px; text-align: left; padding-right: 15%; padding-left: 15%">Intense exercise 6-7 times/week</td>
                                    <td style="width: 200px;">2,769</td>
                                </tr>
                                <tr>
                                    <td style="width: 600px; text-align: left; padding-right: 15%; padding-left: 15%">Very intense exercise daily</td>
                                    <td style="width: 200px;">3,050</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body" id="result-3">
                            <table style="text-align: left; font-size: 13px; margin: 0 auto">
                                <tr>
                                    <td style="width: 200px; text-align: left; padding-right: 5%; padding-left: 8%">Exercise:</td>
                                    <td style="width: 600px;">15-30 minutes of elevated heart rate activity.</td>
                                </tr>
                                <tr>
                                    <td style="width: 200px; text-align: left; padding-right: 5%; padding-left: 8%">Intense exercise:</td>
                                    <td style="width: 600px;">45-120 minutes of elevated heart rate activity.</td>
                                </tr>
                                <tr>
                                    <td style="width: 300px; text-align: left; padding-right: 5%; padding-left: 8%">Very intense exercise:</td>
                                    <td style="width: 600px;">2+ hours of elevated heart rate activity.</td>
                                </tr>
                            </table>
                        </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="jumbotron" style="background-color: #1E1E1E; color:#ffffff; margin-bottom: 0px">
            <div class="justify-content-center text-center">
                <div id="related-article">
                    <h2><b>Related Article</b></h2>
                </div>
                    <div class="justify-content-center text-center" id="article" style="display: none;">
                        <div class="card" style="max-width: 35rem; text-align: center ; margin: 40px auto; background-color: #323233; color:#ffffff;
                        float: none; border-radius: 14px; margin-bottom: 10px;">
                            <img class="card-img-top" src="{% static 'img/BMR_article.jpg' %}" alt="Card image cap" style="width: 100%; border-radius: 14px;">
                            <div class="card-body">
                              <p>Over the past several decades, numerous BMR formulas have been developed targeted to different population groups. A comprehensive literature search revealed 248 BMR estimation equations developed using diverse ranges of age, gender, race, fat free mass, fat mass, height, waist-to-hip ratio, body mass index, and weight.</p>
                            </div>
                        </div>
                    </div>
                <div id="read-more" style="display: none;">
                    <a class="btn btn-lg" href="{% url 'articles:article' article.id %}" role="button" style="background-image: linear-gradient(#EC4057, #F57434); color:#ffffff; border-radius: 14px">Read more</a>
                </div>
            </div>
        </div>

        {% else %}
        <div class ="row justify-content-center pt-3" style="background-color: #1E1E1E; color: white; width: 100vw;">
            <h3>Want to see articles we recommend for you?</h3><br>
        </div>
        <div class="row justify-content-center" style="background-color: #1E1E1E; color: white; width: 100vw;">
            <div class="col justify-content-center text-right">
                <a href="{% url 'user:login' %}">
                    <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-danger mb-3">Log In</button>
                </a>
            </div>
            <div class="col justify-content-center text-left">
                <a href="{% url 'user:signup' %}">
                    <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-danger mb-3">Sign Up</button>
                </a>
            </div>
        </div>

        {% endif %}

        <script src="{% static 'js/bmrresult.js' %}"></script>
    {% endblock content %}
 
