{% extends 'base.html' %}
{% load static %}

{% block meta %}
   <title>Calories Calculator</title>
{% endblock meta %}

{% block content %}
<div class="jumbotron cal-jumbotron p-0" id="jumbo" style="background-image: url(/static/calimg/calories-img.jpg); background-size: cover; filter: grayscale(70%); padding-bottom: 200px;">
    <div class="div" style="padding: 400px 0px 150px 100px; color: rgb(255, 255, 255); margin-bottom: 40px;">
        <p class="lead">Get to know your Calorie consumption</p>
        <h1 class="display-4">CALORIES CALCULATOR</h1>
        <p>A calorie is a unit of energy. In nutrition, <br>calories refer to the energy people get from the food and drink they consume,<br> and the energy they use in physical activity.</p>

    </div>
</div>
   
    <div>
        <h2 style="text-align: center; padding: 2%; font-weight: bold;">Calories Calculator</h2>
        {% if user.is_authenticated %}
        <h3 style="text-align: center; padding: 2%; font-weight: bold;">Hey {{user.username}}! Lets Calculate your Calories!</h3> 
        {% endif %}
    </div>
        <div class="card border-dark mb-3"  style="max-width: 25rem; text-align: center; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
            <div class="card-header"  style="font-size: 25px;">
                <p id="calhead">Calculator</p>
            </div>
            <form id="calform" method="POST" action="/calories-cal/res/">
                {% csrf_token %}
                <div class="form-group" style="padding-left: 8%; padding-right: 8%; text-align: left">
                    {{ form_calc.as_p }}
                </div>
                <br>
                <button type="submit" style="background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;" class="btn btn" id="bton">Calculate</button>
                <button type="button" style="background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;"class="btn test" id="bton">Check</button>
            </form>
            
        </div>
        
        <script src="{% static 'js/calor.js' %}"></script>
{% endblock content %}