{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Calories Calculator</title>
{% endblock meta %}


{% block content %}

<div>
    <h2 style="text-align: center; padding: 2%; font-weight: bold;">Calories Calculator</h2>
    {% if user.is_authenticated %}
    <h3 style="text-align: center; padding: 2%; font-weight: bold;">{{user.username}}! These are the Results!</h3>
    {% endif %}
</div>

<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-dark mb-3" style="max-width: 25rem; text-align: center ; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
                <div class="card-header" style="font-size: 25px; ">
                    <p id="calhead">Calculator</p>
                </div>
                    <form id="calform" method="POST" action="/calories-cal/res/">
                        {% csrf_token %}
                        <div class="form-group" style="padding-left: 8%; padding-right: 8%; text-align: left;">
                            {{ form_calories.as_p }}
                        </div>
                        <br>
                        <button type="submit" style="text-align: center ; background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;" class="btn btn" id="bton">Calculate</button>
                        <button type="button" style="background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;"class="btn test" id="bton">Check</button>
                    </form>
            </div>
        </div>
    
        <div class="col-md-6 col-sm-12">
            <div class="card border-dark mb-3"  style="max-width: 25rem; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
                <div class="card-header"style="font-size: 25px; ">
                    <p id="reshead">Results</p>
                </div>
                <div class="card-body" id="res" >
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Maintain Weight</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{resultAct}}</li>
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Weight Gain</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{gainRes}}</li>
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Weight Loss</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{losRes}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
        <div class="jumbotron" style="background-color: #1E1E1E; color:#ffffff; margin-bottom: 0px">
            <div class="justify-content-center text-center">
                <div>
                    <h2 id="artcl"><b>Related Article</b></h2>
                </div>
                    <div class="justify-content-center text-center">
                        <div class="card" id="calarticle" style="max-width: 25rem; text-align: center ; margin: 0 auto; background-color: #323233; color:#ffffff;
                        float: none; border-radius: 14px; margin-bottom: 10px;">
                            <img class="card-img-top" src="{% static 'calimg/menurunkan-berat-badan-pun-ada-aturannya.jpg' %}" alt="Card image cap" style="width: 100%; border-radius: 14px;">
                            <div class="card-body">
                              <p>Maintaining a healthy weight is important for overall health and well-being.</p>
                            </div>
                        </div>
                    </div>
                <div>
                    <a class="btn btn-lg" id="butn" href="https://www.nia.nih.gov/health/maintaining-healthy-weight" target="_blank" role="button" style="background-image: linear-gradient(#EC4057, #F57434); color:#ffffff; border-radius: 14px">Read more</a>
                </div>
            </div>
        </div>
        {% endif %} 

        <script src="{% static 'js/calor.js' %}"></script>
{% endblock content %}