input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn{
    background-image: linear-gradient(#EC4057, #F57434);
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.card{
    max-width: 50%; text-align: center; 
    background-color: black; color:#ffffff;
    border-radius: 14px;
    margin: auto; margin-bottom: 5%; padding: 3%;
}
.item-row{
    background-color: white;
    margin-top: 10px; margin-left: 20px; margin-right: 20px;
    border-radius: 10px;
    padding-left: 5%; padding-top: 3%; padding-bottom: 3%; padding-right: 5%;
    color: black;
}

#task-row:hover {
    cursor: pointer;
}
