{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Welcome to HEATHLAB</title>
    <link href="{% static 'css/style-main.css'%}" type="text/css" rel="stylesheet">
{% endblock meta %}

{% block content %}
  <div class="jumbotron home_img txt">
    <p class="lead" style="padding-right: 4%;">Stay Healthy, Stay Productive</p>
    <h1 class="display-4" style="padding-right: 4%">HEALTHLAB</h1>
    <p style="padding-right: 4%; text-align: right">In HEALTHLAB we believe people must stay healthy and <br>productive during this pandemic. HEALTHLAB helps you track <br>your health measurement by giving you information about <br>your metabolism, ideal body weight, calories consumtions. <br>We also help you keep in track and updated in current <br>pandemic situation to stay productive and healthy with our <br>innovative features, health articles and to do list.</p>
    <a class="btn btn-primary btn-lg" href="#AboutUs" role="button" style="margin-right: 4%; border-color: #ee4455">Get to Know</a>
  </div>

  <div class="container-fluid about">
    <div class="row">
      <div class="col-5 img-padding">
        <img src="static/img/about.png" class="img-responsive" style="width:100%" alt="about_us">
      </div>
      <div class="col-7 txt-padding" id="AboutUs">
        <h1 style="font-weight: bold; padding-top: 7%;">ABOUT US</h1>
        <p style="text-align: justify; padding-right: 6%;">Through our well-driven motivations to help people maintain and take care their health in current pandemic situation, we HEALTHLAB together with our amazing developers provide you with our helpful and innovative features to keep you informed about your latest health measurement. With that helpful information, we want our people to maintain their health by working out more often in this current situation. In HealthLab, we also want people to keep updated about latest articles about health that can help them stay healthy in current pandemic situation and keep them productive while staying at home with our helpful To-do List feature.</p>
        <a class="btn btn btn-lg" href="/aboutus/" role="button">Our Developers</a>
      </div>
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel" style="padding-top: 5%; padding-bottom: 10%">
      <h1 style="text-align: center; text-transform: uppercase; font-weight: bold; margin-bottom: 3%">Our Features</h1>
    <ul class="carousel-indicators" style="bottom: 3%">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-4 img-carousel">
            <img src="{% static 'img/bmr.png' %}" alt="BMR Calculator">
            <div class="carousel-caption">
              <h3 class="font-mob">BMR Calculator</h3>
            </div>
          </div>
          <div class="col-4 img-carousel2">
            <img src="{% static 'img/bmi.png' %}" alt="BMI Claculator">
            <div class="carousel-caption">
              <h3 class="font-mob">BMI Calculator</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-4 img-carousel">
            <img src="{% static 'img/calories.png' %}" alt="Calories Claculator">
            <div class="carousel-caption">
              <h3 class="font-mob">Calories Calculator</h3>
            </div>
          </div>
          <div class="col-4 img-carousel2">
            <img src="{% static 'img/articles.png' %}" alt="Health Articles">
            <div class="carousel-caption">
              <h3 class="font-mob">Health Articles</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-4 img-carousel3">
            <img src="{% static 'img/todo.png' %}" alt="To-do List">
            <div class="carousel-caption">
              <h3 class="font-mob">To-do List</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

{% endblock content %}
