{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>To Do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
{% endblock meta %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/todo.js' %}"></script>

    <!--Jumbotron Image-->
    <div class="jumbotron" style="background-size: cover; background-image: url(/static/img/to-do-jumbotron.jpg);">
        <div style="padding: 20% 3% 3%; color: black;">
            <h5 class="lead" style="font-weight: 500;">List the things you have to do</h5>
            <h2 class="display-4" style="font-weight: 500;">TO-DO LIST</h2>
            <p style="font-weight: 400;">To do list is a list of things that one wants to get done<br>
                or that need to get done. With to-do list, you can<br>
                manage your time better and organize your work and life.</p>
        </div>
    </div>

    <!--To Do List Form-->
    <h1 style="text-align: center; margin-top:5%;">To Do List</h1>
    <div class="card">
        <form method="POST" id="createTaskForm" action="/to-do-list/">
            {% csrf_token %}
            {{form}}
            <button type="button" class="btn" id="createButton" style="width: 100px; margin-bottom: 5%;"
                data-url="{% url 'to-do-list:task_list' %}">ADD</button>
        </form>

        <div id="taskList">
            {% for task in tasks %}
                <div class="item-row" id="task-row" data-id="{{ task.id }}" 
                    style="text-align: justify; {% if task.completed %} text-decoration: line-through {% endif %}">
                    {{ task.todo }}

                    <button type="button" class="close float-right" data-id="{{ task.id }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
