.home_img{
    background-image: url(/static/img/home.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.txt{
    color: #ffffff;
    text-align: right;
}
.btn{
    background-image: linear-gradient(#EC4057, #F57434);
    color: #ffffff;
}
.about{
    padding-top: 5%;
    padding-bottom: 5%
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel{
    background-color: #1E1E1E;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
}
.img-carousel{
    left: 14%;
}
.img-carousel2{
    left: 20%;
}
.img-carousel3{
    left: 33%;
}
.img-padding{
    padding-left: 5%;
}
.txt-padding{
    padding-left: 2%;
}
.img-responsive{
    width: 100%;
    /* height: 100%; */
}

.bg1{
    background-color: #111111;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-right{
    left: 18%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




@media (max-width: 768px) {
    .pad-right{
        left: 0;
    }

    #pad-right-mem-5 {
        left: 25%;
    }
}

@media (max-width: 576px) {
    .font-mob {
        font-size: 1rem;
    }
}

